* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Proxima Nova", "helvetica neue", "helvetica", "arial",
    "sans-serif";
}

nav {
  font-size: 20px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 64px;
  line-height: 64px;
  padding: 0 24px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  list-style: none;
}

.logoside {
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo a img {
  margin-top: 20px;
  height: 120px;
}

.cupcake a img {
  height: 24px;
  margin-left: 10px;
}

.search-bar {
  width: 600px;
  border-radius: 5px;
  vertical-align: middle;
  background-color: aliceblue;
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 5px;
}

input {
  flex: 1;
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 12px;
  color: #333;
}

.userside {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.userside a {
  text-decoration: none;
  color: #000;
  background-color: #f5f5f5;
  height: 32px;
  font-size: 16px;
  margin-left: 10px;
  padding: 5px 10px;
  font-weight: 600;
  border: 1px solid #f5f5f5;
  border-radius: 3px;
}

#bg_image {
  z-index: -1;
  height: 92vh;
  width: 100%;
}
